In [1]:
import pandas as pn
import numpy as nm

In [2]:
file=pn.read_csv('D:/documents/agriculture.csv')

In [3]:
file

    sr_no First_name  Last_name  Gender        Country  Age
0       1      Dulce      Abril  Female  United States   32
1       3     Philip       Gent    Male         France   36
2       4   Kathleen     Hanner  Female  United States   25
3       5    Nereida    Magwood  Female  United States   58
4       7       Etta       Hurn  Female  Great Britain   56
5       8    Earlean     Melgar    Male  United States   27
6       9   Vincenza    Weiland  Female  United States   40
7      10     Fallon    Winward  Female  Great Britain   28
8      11    Arcelia     Bouska  Female  Great Britain   39
9      12   Franklyn     Unknow    Male         France   38
10     13    Sherron   Ascencio  Female  Great Britain   32
11     14     Marcel  Zabriskie    Male  Great Britain   26
12     15       Kina   Hazelton  Female  Great Britain   31
13     16   Shavonne        Pia  Female         France   24
14     17     Shavon     Benito  Female         France   39
15     18   Lauralee    Perrine    Male  Great Britain   28
16     19     Loreta     Curren  Female         France   26
17     20     Teresa     Strawn  Female         France   46
18      6     Gaston      Brumm    Male  United States   24
19      2       Mara  Hashimoto  Female  Great Britain   27

In [4]:
#adding new column in a dataset
file['zone']='north,south,east,west'

In [5]:
file1=pn.read_csv('D:\\documents\\netflix_titles.csv')

In [6]:
file1

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [7]:
file1.isnull().sum()

show_id            0
type               0
title              0
director        1969
cast             570
country          476
date_added        11
release_year       0
rating            10
duration           0
listed_in          0
description        0
dtype: int64

In [5]:
file1.dtypes

show_id          int64
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [11]:
file1.nunique()

show_id         6234
type               2
title           6172
director        3301
cast            5469
country          554
date_added      1524
release_year      72
rating            14
duration         201
listed_in        461
description     6226
dtype: int64

 Describe datatype is used to get the details of integer data type

In [12]:
file1.describe()

            show_id  release_year
count  6.234000e+03    6234.00000
mean   7.670368e+07    2013.35932
std    1.094296e+07       8.81162
min    2.477470e+05    1925.00000
25%    8.003580e+07    2013.00000
50%    8.016337e+07    2016.00000
75%    8.024489e+07    2018.00000
max    8.123573e+07    2020.00000

In [13]:
file1.to_excel('store.xlsx')

In [14]:
file2=pn.read_excel('C:\\Users\\Dell\\store.xlsx')

In [15]:
file2[['show_id','type','title','release_year']] #we use 2x[['']] to pass the >1 columns as input to get dataframe datatype

,show_id,type,title,release_year
0,81145628,Movie,Norm of the North: King Sized Adventure,2019
1,80117401,Movie,Jandino: Whatever it Takes,2016
2,70234439,TV Show,Transformers Prime,2013
3,80058654,TV Show,Transformers: Robots in Disguise,2016
4,80125979,Movie,#realityhigh,2017
...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,2015
6230,70286564,TV Show,Maron,2016
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,2016
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,2013
6233,70153404,TV Show,Friends,2003

In [16]:
file3=pn.read_html('https://www.geeksforgeeks.org/sql-subquery/')

In [17]:
file3

[Empty DataFrame
 Columns: [(NAME, Ram, Raj, Sasi, Ravi, Sumathi), (ROLL_NO, 101, 102, 103, 104, 105), (LOCATION, Chennai, Coimbatore, Madurai, Salem, Kanchipuram), (PHONE_NUMBER, 9988775566, 8877665544, 7766553344, 8989898989, 8989856868)]
 Index: [],
 Empty DataFrame
 Columns: [(NAME, Ravi, Sumathi, Raj), (ROLL_NO, 104, 105, 102), (SECTION, A, B, A)]
 Index: [],
       0        1           2             3
 0  NAME  ROLL_NO    LOCATION  PHONE_NUMBER
 1  Ravi      104       Salem    8989898989
 2   Raj      102  Coimbatore    8877665544,
 Empty DataFrame
 Columns: [(NAME, Ram, Raju, Ravi), (ROLL_NO, 101, 102, 103), (LOCATION, chennai, coimbatore, salem), (PHONE_NUMBER, 9988773344, 9090909090, 8989898989), (Unnamed: 4_level_0, Unnamed: 4_level_1, Unnamed: 4_level_2, Unnamed: 4_level_3)]
 Index: [],
 Empty DataFrame
 Columns: [(NAME, Raj, Sai, Sri), (ROLL_NO, 111, 112, 113), (LOCATION, chennai, mumbai, coimbatore), (PHONE_NUMBER, 8787878787, 6565656565, 7878787878), (Unnamed: 4_level_0, Unnamed: 4_level_1, Unnamed: 4_level_2, Unnamed: 4_level_3)]
 Index: [],
 Empty DataFrame
 Columns: [(NAME, Ram, Raju, Ravi, Raj, Sai, Sri), (ROLL_NO, 101, 102, 103, 111, 112, 113), (LOCATION, chennai, coimbatore, salem, chennai, mumbai, coimbatore), (PHONE_NUMBER, 9988773344, 9090909090, 8989898989, 8787878787, 6565656565, 7878787878), (Unnamed: 4_level_0, Unnamed: 4_level_1, Unnamed: 4_level_2, Unnamed: 4_level_3, Unnamed: 4_level_4, Unnamed: 4_level_5, Unnamed: 4_level_6)]
 Index: [],
 Empty DataFrame
 Columns: [(NAME, Sai, Sri), (ROLL_NO, 112, 113), (LOCATION, mumbai, coimbatore), (PHONE_NUMBER, 6565656565, 7878787878), (Unnamed: 4_level_0, Unnamed: 4_level_1, Unnamed: 4_level_2)]
 Index: [],
 Empty DataFrame
 Columns: [(NAME, Sai, geeks), (ROLL_NO, 112, 113), (LOCATION, mumbai, coimbatore), (PHONE_NUMBER, 6565656565, 7878787878), (Unnamed: 4_level_0, Unnamed: 4_level_1, Unnamed: 4_level_2)]
 Index: []]

In [18]:
type(file3)

list

In [19]:
import requests

In [20]:
file4=requests.get("https://api.github.com/repos/pandas-dev/pandas/issues")

In [21]:
file4

In [22]:
file4.json()

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50389',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50389/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50389/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50389/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/50389',
  'id': 1507101341,
  'node_id': 'PR_kwDOAA0YD85F__X_',
  'number': 50389,
  'title': 'ENH: Add cumsum to ArrowExtensionArray',
  'user': {'login': 'mroeschke',
   'id': 10647082,
   'node_id': 'MDQ6VXNlcjEwNjQ3MDgy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/10647082?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/mroeschke',
   'html_url': 'https://github.com/mroeschke',
   'followers_url': 'https://api.github.com/users/mroeschke/followers',
   'following_url': 'https://api.github.com/users/mroeschke/following{/other_user}',
   'gists_url': 'https://api.github.com/users/mroeschke/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/mroeschke/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/mroeschke/subscriptions',
   'organizations_url': 'https://api.github.com/users/mroeschke/orgs',
   'repos_url': 'https://api.github.com/users/mroeschke/repos',
   'events_url': 'https://api.github.com/users/mroeschke/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/mroeschke/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76812,
    'node_id': 'MDU6TGFiZWw3NjgxMg==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Enhancement',
    'name': 'Enhancement',
    'color': '4E9A06',
    'default': False,
    'description': None},
   {'id': 3303158446,
    'node_id': 'MDU6TGFiZWwzMzAzMTU4NDQ2',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Arrow',
    'name': 'Arrow',
    'color': 'f9d0c4',
    'default': False,
    'description': 'pyarrow functionality'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-12-22T00:58:00Z',
  'updated_at': '2022-12-22T00:58:17Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/50389',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/50389',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/50389.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/50389.patch',
   'merged_at': None},
  'body': "- [ ] closes #xxxx (Replace xxxx with the GitHub issue number)\r\n- [ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added [type annotations](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#type-hints) to new arguments/methods/functions.\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n\r\nDon't think a whatsnew is needed since `EA._accumulate` was added in 2.0\r\n",
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50389/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50389/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50388',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50388/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50388/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50388/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/50388',
  'id': 1507017355,
  'node_id': 'PR_kwDOAA0YD85F_tAP',
  'number': 50388,
  'title': 'WEB: Add backoff + retry for Github API calls',
  'user': {'login': 'mroeschke',
   'id': 10647082,
   'node_id': 'MDQ6VXNlcjEwNjQ3MDgy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/10647082?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/mroeschke',
   'html_url': 'https://github.com/mroeschke',
   'followers_url': 'https://api.github.com/users/mroeschke/followers',
   'following_url': 'https://api.github.com/users/mroeschke/following{/other_user}',
   'gists_url': 'https://api.github.com/users/mroeschke/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/mroeschke/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/mroeschke/subscriptions',
   'organizations_url': 'https://api.github.com/users/mroeschke/orgs',
   'repos_url': 'https://api.github.com/users/mroeschke/repos',
   'events_url': 'https://api.github.com/users/mroeschke/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/mroeschke/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 48070600,
    'node_id': 'MDU6TGFiZWw0ODA3MDYwMA==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/CI',
    'name': 'CI',
    'color': 'a2bca7',
    'default': False,
    'description': 'Continuous Integration'},
   {'id': 1508144531,
    'node_id': 'MDU6TGFiZWwxNTA4MTQ0NTMx',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Web',
    'name': 'Web',
    'color': '23ef97',
    'default': False,
    'description': 'pandas website'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-12-21T23:02:48Z',
  'updated_at': '2022-12-21T23:02:48Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/50388',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/50388',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/50388.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/50388.patch',
   'merged_at': None},
  'body': 'Hopefully to help the doc and web build sometimes failing because of hitting the rate limit of the GIthub API\r\n\r\n```\r\nTraceback (most recent call last):\r\n  File "web/pandas_web.py", line 403, in <module>\r\n    main(args.source_path, args.target_path, args.base_url, args.ignore_io_errors)\r\n  File "web/pandas_web.py", line 349, in main\r\n    context = get_context(config_fname, ignore_io_errors, base_url=base_url)\r\n  File "web/pandas_web.py", line 305, in get_context\r\n    context = preprocessor(context)\r\n  File "/home/runner/work/pandas/pandas/web/pandas_web.py", line 172, in maintainers_add_info\r\n    resp.raise_for_status()\r\n  File "/home/runner/micromamba/envs/test/lib/python3.8/site-packages/requests/models.py", line 1021, in raise_for_status\r\n    raise HTTPError(http_error_msg, response=self)\r\nrequests.exceptions.HTTPError: 403 Client Error: rate limit exceeded for url: https://api.github.com/users/shoyer\r\n\r\n```',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50388/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50388/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50387',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50387/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50387/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50387/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/50387',
  'id': 1506997865,
  'node_id': 'PR_kwDOAA0YD85F_oyH',
  'number': 50387,
  'title': 'BUG: Fix unintialized strlen when PyUnicode_AsUTF8AndSize fails',
  'user': {'login': 'lithomas1',
   'id': 47963215,
   'node_id': 'MDQ6VXNlcjQ3OTYzMjE1',
   'avatar_url': 'https://avatars.githubusercontent.com/u/47963215?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/lithomas1',
   'html_url': 'https://github.com/lithomas1',
   'followers_url': 'https://api.github.com/users/lithomas1/followers',
   'following_url': 'https://api.github.com/users/lithomas1/following{/other_user}',
   'gists_url': 'https://api.github.com/users/lithomas1/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/lithomas1/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/lithomas1/subscriptions',
   'organizations_url': 'https://api.github.com/users/lithomas1/orgs',
   'repos_url': 'https://api.github.com/users/lithomas1/repos',
   'events_url': 'https://api.github.com/users/lithomas1/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/lithomas1/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 49379259,
    'node_id': 'MDU6TGFiZWw0OTM3OTI1OQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/IO%20JSON',
    'name': 'IO JSON',
    'color': '207de5',
    'default': False,
    'description': 'read_json, to_json, json_normalize'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 6,
  'created_at': '2022-12-21T22:39:37Z',
  'updated_at': '2022-12-22T04:39:58Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/50387',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/50387',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/50387.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/50387.patch',
   'merged_at': None},
  'body': '- [ ] xref #50324 (Replace xxxx with the GitHub issue number)\r\n- [ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added [type annotations](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#type-hints) to new arguments/methods/functions.\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n\r\nHopefully fixes 32bit builds. \r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50387/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50387/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50386',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50386/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50386/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50386/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/50386',
  'id': 1506936544,
  'node_id': 'PR_kwDOAA0YD85F_b5P',
  'number': 50386,
  'title': 'CI: Test pandas warnings as error on some builds',
  'user': {'login': 'mroeschke',
   'id': 10647082,
   'node_id': 'MDQ6VXNlcjEwNjQ3MDgy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/10647082?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/mroeschke',
   'html_url': 'https://github.com/mroeschke',
   'followers_url': 'https://api.github.com/users/mroeschke/followers',
   'following_url': 'https://api.github.com/users/mroeschke/following{/other_user}',
   'gists_url': 'https://api.github.com/users/mroeschke/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/mroeschke/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/mroeschke/subscriptions',
   'organizations_url': 'https://api.github.com/users/mroeschke/orgs',
   'repos_url': 'https://api.github.com/users/mroeschke/repos',
   'events_url': 'https://api.github.com/users/mroeschke/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/mroeschke/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2022-12-21T21:32:24Z',
  'updated_at': '2022-12-22T02:09:18Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': True,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/50386',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/50386',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/50386.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/50386.patch',
   'merged_at': None},
  'body': 'Locally I was validating the recent addition of `-W error:::pandas` and had to change it to `-W error:::$pandas` so validating if the CI will raise as well',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50386/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50386/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50384',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50384/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50384/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50384/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/50384',
  'id': 1506776800,
  'node_id': 'PR_kwDOAA0YD85F-5Ip',
  'number': 50384,
  'title': 'CI Pin numpy 32 bit',
  'user': {'login': 'MarcoGorelli',
   'id': 33491632,
   'node_id': 'MDQ6VXNlcjMzNDkxNjMy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/33491632?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/MarcoGorelli',
   'html_url': 'https://github.com/MarcoGorelli',
   'followers_url': 'https://api.github.com/users/MarcoGorelli/followers',
   'following_url': 'https://api.github.com/users/MarcoGorelli/following{/other_user}',
   'gists_url': 'https://api.github.com/users/MarcoGorelli/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/MarcoGorelli/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/MarcoGorelli/subscriptions',
   'organizations_url': 'https://api.github.com/users/MarcoGorelli/orgs',
   'repos_url': 'https://api.github.com/users/MarcoGorelli/repos',
   'events_url': 'https://api.github.com/users/MarcoGorelli/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/MarcoGorelli/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 48070600,
    'node_id': 'MDU6TGFiZWw0ODA3MDYwMA==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/CI',
    'name': 'CI',
    'color': 'a2bca7',
    'default': False,
    'description': 'Continuous Integration'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-12-21T19:01:12Z',
  'updated_at': '2022-12-21T21:38:21Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/50384',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/50384',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/50384.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/50384.patch',
   'merged_at': None},
  'body': '- [ ] closes #xxxx (Replace xxxx with the GitHub issue number)\r\n- [ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added [type annotations](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#type-hints) to new arguments/methods/functions.\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50384/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50384/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50383',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50383/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50383/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/50383/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/50383',
  'id': 1506751371,
  'node_id': 'I_kwDOAA0YD85ZzzOL',
  'number': 50383,
  'title': 'BUG: Inconsistency with grouping columns in agg',
  'user': {'login': 'rhshadrach',
   'id': 45562402,
   'node_id': 'MDQ6VXNlcjQ1NTYyNDAy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/45562402?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/rhshadrach',
   'html_url': 'https://github.com/rhshadrach',
   'followers_url': 'https://api.github.com/users/rhshadrach/followers',
   'following_url': 'https://api.github.com/users/rhshadrach/following{/other_user}',
   'gists_url': 'https://api.github.com/users/rhshadrach/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/rhshadrach/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/rhshadrach/subscriptions',
   'organizations_url': 'https://api.github.com/users/rhshadrach/orgs',
   'repos_url': 'https://api.github.com/users/rhshadrach/repos',
   'events_url': 'https://api.github.com/users/rhshadrach/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/rhshadrach/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',

In [23]:
file5=file4.json()

In [24]:
file5[0]['events_url']

'https://api.github.com/repos/pandas-dev/pandas/issues/50389/events'

In [25]:
for i in range(len(file5)):
    print(file5[i]['title'])

ENH: Add cumsum to ArrowExtensionArray
WEB: Add backoff + retry for Github API calls
BUG: Fix unintialized strlen when PyUnicode_AsUTF8AndSize fails
CI: Test pandas warnings as error on some builds
CI Pin numpy 32 bit
BUG: Inconsistency with grouping columns in agg
ENH: Add std to masked interface
CI try skipping test in 32-bit
TST 56 tests in pandas/tests/test_generic.py aren't being tested
STYLE pre-commit check to ensure that test functions name starts with test
TST some tests in pandas/tests/io/json/test_readlines.py aren't being tested
ENH: Preserve ea dtype in groupby.std
Add nanoseconds to timestamps stub file
BUG: Can't I replace Ellipsis in DataFrame.replace like scalar
BUG: Can't mix tuples and strings in column names with Numpy>=1.24
CLN: Use dedup_names in all instances where duplicate column names are renamed
Rename duplicate column names in read_json(orient='split')
ENH/API: preserve non-nano in to_datetime
BUG: Groupby mean differs depending on where `np.inf` value was introduced
ERR non-ISO formats don't show position of error
BUG: str dtype ignored for column with dot
ERR non-ISO formats don't show position of error
BUG/COMPAT: assert_* functions failing with nested arrays and latest numpy
BUG: 'now' and 'today' only parse in to_datetime with ISO8601 formats
PERF: Plots with some DatetimeIndex frequencies very slow
STYLE: Prohibit parsing exeption messages in `try/except` code flows
DOC: Add drop to MultiIndex docs
TST: Skip test_rolling_var_numerical_issues on power platforms
BUG: Timestamp.replace handle out-of-pydatetime range
BUG: Groupby then sum boolean column gives too large a sum

In [26]:
pn.DataFrame(file5,columns=['title','comments_url','html_url'])

,title,comments_url,html_url
0,ENH: Add cumsum to ArrowExtensionArray,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/50389
1,WEB: Add backoff + retry for Github API calls,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/50388
2,BUG: Fix unintialized strlen when PyUnicode_As...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/50387
3,CI: Test pandas warnings as error on some builds,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/50386
4,CI Pin numpy 32 bit,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/50384
5,BUG: Inconsistency with grouping columns in agg,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/50383
6,ENH: Add std to masked interface,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/50382
7,CI try skipping test in 32-bit,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/50381
8,TST 56 tests in pandas/tests/test_generic.py a...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/50380
9,STYLE pre-commit check to ensure that test fun...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/50379
10,TST some tests in pandas/tests/io/json/test_re...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/50378
11,ENH: Preserve ea dtype in groupby.std,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/50375
12,Add nanoseconds to timestamps stub file,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/50374
13,BUG: Can't I replace Ellipsis in DataFrame.rep...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/50373
14,BUG: Can't mix tuples and strings in column na...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/50372
15,CLN: Use dedup_names in all instances where du...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/50371
16,Rename duplicate column names in read_json(ori...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/50370
17,ENH/API: preserve non-nano in to_datetime,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/50369
18,BUG: Groupby mean differs depending on where `...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/50367
19,ERR non-ISO formats don't show position of error,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/50366
20,BUG: str dtype ignored for column with dot,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/50364
21,ERR non-ISO formats don't show position of error,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/50361
22,BUG/COMPAT: assert_* functions failing with ne...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/50360
23,BUG: 'now' and 'today' only parse in to_dateti...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/50359
24,PERF: Plots with some DatetimeIndex frequencie...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/50355
25,STYLE: Prohibit parsing exeption messages in `...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/50353
26,DOC: Add drop to MultiIndex docs,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/50352
27,TST: Skip test_rolling_var_numerical_issues on...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/50349
28,BUG: Timestamp.replace handle out-of-pydatetim...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/50348
29,BUG: Groupby then sum boolean column gives too...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/50347

In [27]:
frame=[]
for i in range(len(file5)):
    frame.append(file5[i])
pn.DataFrame(frame)

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,closed_at,author_association,active_lock_reason,draft,pull_request,body,reactions,timeline_url,performed_via_github_app,state_reason
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/50389,1507101341,PR_kwDOAA0YD85F__X_,50389,ENH: Add cumsum to ArrowExtensionArray,...,None,MEMBER,None,False,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/50388,1507017355,PR_kwDOAA0YD85F_tAP,50388,WEB: Add backoff + retry for Github API calls,...,None,MEMBER,None,False,{'url': 'https://api.github.com/repos/pandas-d...,Hopefully to help the doc and web build someti...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/50387,1506997865,PR_kwDOAA0YD85F_oyH,50387,BUG: Fix unintialized strlen when PyUnicode_As...,...,None,MEMBER,None,False,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] xref #50324 (Replace xxxx with the GitHu...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/50386,1506936544,PR_kwDOAA0YD85F_b5P,50386,CI: Test pandas warnings as error on some builds,...,None,MEMBER,None,True,{'url': 'https://api.github.com/repos/pandas-d...,Locally I was validating the recent addition o...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/50384,1506776800,PR_kwDOAA0YD85F-5Ip,50384,CI Pin numpy 32 bit,...,None,MEMBER,None,False,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/50383,1506751371,I_kwDOAA0YD85ZzzOL,50383,BUG: Inconsistency with grouping columns in agg,...,None,MEMBER,None,NaN,NaN,Related to #46944\r\n\r\nUsers can currently r...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/50382,1506628703,PR_kwDOAA0YD85F-YyA,50382,ENH: Add std to masked interface,...,None,MEMBER,None,False,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/50381,1506627685,PR_kwDOAA0YD85F-YkX,50381,CI try skipping test in 32-bit,...,None,MEMBER,None,True,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/50380,1506568111,I_kwDOAA0YD85ZzGev,50380,TST 56 tests in pandas/tests/test_generic.py a...,...,None,MEMBER,None,NaN,NaN,All these tests aren't actually being run:\r\n...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/50379,1506555123,I_kwDOAA0YD85ZzDTz,50379,STYLE pre-commit check to ensure that test fun...,...,None,MEMBER,None,NaN,NaN,In https://github.com/pandas-dev/pandas/issues...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/50378,1506529224,I_kwDOAA0YD85Zy8_I,50378,TST some tests in pandas/tests/io/json/test_re...,...,None,MEMBER,None,NaN,NaN,We can see from the coverage report that they'...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/50375,1506302635,PR_kwDOAA0YD85F9SFT,50375,ENH: Preserve ea dtype in groupby.std,...,None,MEMBER,None,False,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #35516 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/50374,1506298322,PR_kwDOAA0YD85F9RHo,50374,Add nanoseconds to timestamps stub file,...,None,NONE,None,False,{'url': 'https://api.github.com/repos/pandas-d...,I also found the documentation to be lacking. ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/50373,1506070881,I_kwDOAA0YD85ZxNFh,50373,BUG: Can't I replace Ellipsis in DataFrame.rep...,...,None,NONE,None,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/50372,1506004660,I_kwDOAA0YD85Zw860,50372,BUG: Can't mix tuples and strings in column na...,...,None,NONE,None,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/50371,1505803858,I_kwDOAA0YD85ZwL5S,50371,CLN: Use dedup_names in all instances where du...,...,None,MEMBER,None,NaN,NaN,In #50370 the function `dedup_names` has been ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/50370,1505800443,PR_kwDOAA0YD85F7k-G,50370,Rename duplicate column names in read_json(ori...,...,None,MEMBER,None,False,{'url': 'https://api.github.com/repos/pandas-d...,- [X] xref #47718\r\n\r\nAll our read methods ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/50369,1505615001,PR_kwDOAA0YD85F6-ky,50369,ENH/API: preserve non-nano in to_datetime,...,None,MEMBER,None,False,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/50367,1505392495,I_kwDOAA0YD85Zundv,50367,BUG: Groupby mean differs depending on where `...,...,None,NONE,None,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/50366,1505293806,PR_kwDOAA0YD85F57R8,50366,ERR non-ISO formats don't show position of error,...,None,MEMBER,None,False,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #50361 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/50364,1504959845,PR_kwDOAA0YD85F40Or,50364,BUG: str dtype ignored for column with dot,...,None,CONTRIBUTOR,None,False,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #50270\r\n- [x] All [code checks ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/50361,1504657343,I_kwDOAA0YD85Zrz-_,50361,ERR non-ISO formats don't show position of error,...,None,MEMBER,None,NaN,NaN,Trimming the tracebacks to make it clearer:\r\...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/50360,1504592481,I_kwDOAA0YD85ZrkJh,50360,BUG/COMPAT: assert_* functions failing with ne...,...,None,MEMBER,None,NaN,NaN,When using the latest nightly numpy (1.25.0.de...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/50359,1504585979,I_kwDOAA0YD85Zrij7,50359,BUG: 'now' and 'today' only parse in to_dateti...,...,None,MEMBER,None,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/50355,1504108738,I_kwDOAA0YD85ZpuDC,50355,PERF: Plots with some DatetimeIndex frequencie...,...,None,NONE,None,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/50353,1503750577,I_kwDOAA0YD85ZoWmx,50353,STYLE: Prohibit parsing exeption messages in `...,...,None,MEMBER,None,NaN,NaN,There are a few spots in the code base where w...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/50352,1503697602,PR_kwDOAA0YD85F0qKc,50352,DOC: Add drop to MultiIndex docs,...,None,MEMBER,None,False,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #50346 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/50349,1503604617,PR_kwDOAA0YD85F0Vvg,50349,TST: Skip test_rolling_var_numerical_issues on...,...,None,MEMBER,None,False,{'url': 'https://api.github.com/repos/pandas-d...,Discovered while working on https://github.com...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/50348,1503495692,PR_kwDOAA0YD85Fz9fn,50348,BUG: Timestamp.replace handle out-of-pydatetim...,...,None,MEMBER,None,False,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/50347,1503215973,I_kwDOAA0YD85ZmUFl,50347,BUG: Groupby then sum boolean column gives too...,...,None,NONE,None,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,None

In [37]:
# while data import we can pass 1 column in series , if we want to pass multiple columns
sorted(file['First_name'],reverse=True)  # reverse = True/False as per need
file["rebo"]='qwet'

 Using file_name.describe(|include='all' ) describes all details about the dataset.

In [49]:
file.describe(include='all')

           sr_no First_name Last_name  Gender        Country        Age  rebo
count   20.00000         20        20      20             20  20.000000    20
unique       NaN         20        20       2              3        NaN     1
top          NaN      Dulce     Abril  Female  Great Britain        NaN  qwet
freq         NaN          1         1      14              8        NaN    20
mean    10.50000        NaN       NaN     NaN            NaN  34.100000   NaN
std      5.91608        NaN       NaN     NaN            NaN  10.015252   NaN
min      1.00000        NaN       NaN     NaN            NaN  24.000000   NaN
25%      5.75000        NaN       NaN     NaN            NaN  26.750000   NaN
50%     10.50000        NaN       NaN     NaN            NaN  31.500000   NaN
75%     15.25000        NaN       NaN     NaN            NaN  39.000000   NaN
max     20.00000        NaN       NaN     NaN            NaN  58.000000   NaN

Notes :
    1. To drop 1 or >1 columns in Dataframe we can pas in as drop(['rebo'],axis=1)
    2. Rows are denoted using axis=0 & Columns are denoted using axis=1
    3. To Perform the drop operation in the same dataframe,rather 
       than creating a new dataframe object during the delete operation.
    4. index - the list of rows to be deleted
    5. axis = 0 - Marks the rows in the dataframe to be deleted

In [68]:
#file.drop(['column_name'], axis=0)

Categorical takes <space than object, & well combined with library like seaborn,matplotlib
used in cases when we arrange products based on rating from ( avg < good < best ) with 
ordered keyword

In [54]:
pn.Categorical(['4','3','5','1','2'],categories=['1','2','3','4','5'],ordered=True)

['4', '3', '5', '1', '2']
Categories (5, object): ['1' < '2' < '3' < '4' < '5']

In [85]:
file7=pn.read_csv('Desktop\\test.txt',sep='@')

In [14]:
# finding null value at specific index  using pandas 
q=file1['rating'][file1.rating.isnull()].index

In [89]:
file1.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [15]:
file1.iloc[q,2:10] # here 2=initial , 10=end,33=number of rows to be fetcheds

,title,director,cast,country,date_added,release_year,rating,duration
211,Louis C.K.: Hilarious,Louis C.K.,Louis C.K.,United States,"September 16, 2016",2010,NaN,84 min
2411,My Honor Was Loyalty,Alessandro Pepe,"Leone Frisa, Paolo Vaccarino, Francesco Miglio...",Italy,"March 1, 2017",2015,NaN,115 min
3288,13TH: A Conversation with Oprah Winfrey & Ava ...,NaN,"Oprah Winfrey, Ava DuVernay",NaN,"January 26, 2017",2017,NaN,37 min
4056,Little Lunch,NaN,"Flynn Curry, Olivia Deeble, Madison Lu, Oisín ...",Australia,"February 1, 2018",2015,NaN,1 Season
4402,Fireplace 4K: Classic Crackling Fireplace from...,George Ford,NaN,NaN,"December 21, 2015",2015,NaN,60 min
4403,Fireplace 4K: Crackling Birchwood from Firepla...,George Ford,NaN,NaN,"December 21, 2015",2015,NaN,60 min
4706,Gargantia on the Verdurous Planet,NaN,"Kaito Ishikawa, Hisako Kanemoto, Ai Kayano, Ka...",Japan,"December 1, 2016",2013,NaN,1 Season
5015,Louis C.K.: Live at the Comedy Store,Louis C.K.,Louis C.K.,United States,"August 15, 2016",2015,NaN,66 min
5234,Louis C.K. 2017,Louis C.K.,Louis C.K.,United States,"April 4, 2017",2017,NaN,74 min
6231,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min

 Checking index position of null values through numpy

In [6]:
file1.isnull().sum()

show_id            0
type               0
title              0
director        1969
cast             570
country          476
date_added        11
release_year       0
rating            10
duration           0
listed_in          0
description        0
dtype: int64

In [3]:
#to get the row index of null values in array 
nul_rating=nm.where(file1['rating'].isnull() == True) 
nul_rating

(array([ 211, 2411, 3288, 4056, 4402, 4403, 4706, 5015, 5234, 6231],
       dtype=int64),)

In [4]:
file1.iloc[nul_rating]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
211,70129452,Movie,Louis C.K.: Hilarious,Louis C.K.,Louis C.K.,United States,"September 16, 2016",2010,NaN,84 min,Movies,Emmy-winning comedy writer Louis C.K. brings h...
2411,80144119,Movie,My Honor Was Loyalty,Alessandro Pepe,"Leone Frisa, Paolo Vaccarino, Francesco Miglio...",Italy,"March 1, 2017",2015,NaN,115 min,Dramas,"Amid the chaos and horror of World War II, a c..."
3288,80169801,Movie,13TH: A Conversation with Oprah Winfrey & Ava ...,NaN,"Oprah Winfrey, Ava DuVernay",NaN,"January 26, 2017",2017,NaN,37 min,Movies,Oprah Winfrey sits down with director Ava DuVe...
4056,80078037,TV Show,Little Lunch,NaN,"Flynn Curry, Olivia Deeble, Madison Lu, Oisín ...",Australia,"February 1, 2018",2015,NaN,1 Season,"Kids' TV, TV Comedies","Adopting a child's perspective, this show take..."
4402,80092839,Movie,Fireplace 4K: Classic Crackling Fireplace from...,George Ford,NaN,NaN,"December 21, 2015",2015,NaN,60 min,Movies,"The first of its kind in UHD 4K, with the clea..."
4403,80092835,Movie,Fireplace 4K: Crackling Birchwood from Firepla...,George Ford,NaN,NaN,"December 21, 2015",2015,NaN,60 min,Movies,"For the first time in 4K Ultra-HD, everyone's ..."
4706,80039789,TV Show,Gargantia on the Verdurous Planet,NaN,"Kaito Ishikawa, Hisako Kanemoto, Ai Kayano, Ka...",Japan,"December 1, 2016",2013,NaN,1 Season,"Anime Series, International TV Shows","After falling through a wormhole, a space-dwel..."
5015,80114111,Movie,Louis C.K.: Live at the Comedy Store,Louis C.K.,Louis C.K.,United States,"August 15, 2016",2015,NaN,66 min,Movies,The comic puts his trademark hilarious/thought...
5234,80161109,Movie,Louis C.K. 2017,Louis C.K.,Louis C.K.,United States,"April 4, 2017",2017,NaN,74 min,Movies,"Louis C.K. muses on religion, eternal love, gi..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...

In [5]:
# we can get data by passing the 1index in[] and multiple index value in[[ 5,8,2]] way.
file1.iloc[[211,2411,3288,4706]]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
211,70129452,Movie,Louis C.K.: Hilarious,Louis C.K.,Louis C.K.,United States,"September 16, 2016",2010,NaN,84 min,Movies,Emmy-winning comedy writer Louis C.K. brings h...
2411,80144119,Movie,My Honor Was Loyalty,Alessandro Pepe,"Leone Frisa, Paolo Vaccarino, Francesco Miglio...",Italy,"March 1, 2017",2015,NaN,115 min,Dramas,"Amid the chaos and horror of World War II, a c..."
3288,80169801,Movie,13TH: A Conversation with Oprah Winfrey & Ava ...,NaN,"Oprah Winfrey, Ava DuVernay",NaN,"January 26, 2017",2017,NaN,37 min,Movies,Oprah Winfrey sits down with director Ava DuVe...
4706,80039789,TV Show,Gargantia on the Verdurous Planet,NaN,"Kaito Ishikawa, Hisako Kanemoto, Ai Kayano, Ka...",Japan,"December 1, 2016",2013,NaN,1 Season,"Anime Series, International TV Shows","After falling through a wormhole, a space-dwel..."

In [19]:
#to get the details of index
file1[file1['rating'].isnull() == True]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
211,70129452,Movie,Louis C.K.: Hilarious,Louis C.K.,Louis C.K.,United States,"September 16, 2016",2010,NaN,84 min,Movies,Emmy-winning comedy writer Louis C.K. brings h...
2411,80144119,Movie,My Honor Was Loyalty,Alessandro Pepe,"Leone Frisa, Paolo Vaccarino, Francesco Miglio...",Italy,"March 1, 2017",2015,NaN,115 min,Dramas,"Amid the chaos and horror of World War II, a c..."
3288,80169801,Movie,13TH: A Conversation with Oprah Winfrey & Ava ...,NaN,"Oprah Winfrey, Ava DuVernay",NaN,"January 26, 2017",2017,NaN,37 min,Movies,Oprah Winfrey sits down with director Ava DuVe...
4056,80078037,TV Show,Little Lunch,NaN,"Flynn Curry, Olivia Deeble, Madison Lu, Oisín ...",Australia,"February 1, 2018",2015,NaN,1 Season,"Kids' TV, TV Comedies","Adopting a child's perspective, this show take..."
4402,80092839,Movie,Fireplace 4K: Classic Crackling Fireplace from...,George Ford,NaN,NaN,"December 21, 2015",2015,NaN,60 min,Movies,"The first of its kind in UHD 4K, with the clea..."
4403,80092835,Movie,Fireplace 4K: Crackling Birchwood from Firepla...,George Ford,NaN,NaN,"December 21, 2015",2015,NaN,60 min,Movies,"For the first time in 4K Ultra-HD, everyone's ..."
4706,80039789,TV Show,Gargantia on the Verdurous Planet,NaN,"Kaito Ishikawa, Hisako Kanemoto, Ai Kayano, Ka...",Japan,"December 1, 2016",2013,NaN,1 Season,"Anime Series, International TV Shows","After falling through a wormhole, a space-dwel..."
5015,80114111,Movie,Louis C.K.: Live at the Comedy Store,Louis C.K.,Louis C.K.,United States,"August 15, 2016",2015,NaN,66 min,Movies,The comic puts his trademark hilarious/thought...
5234,80161109,Movie,Louis C.K. 2017,Louis C.K.,Louis C.K.,United States,"April 4, 2017",2017,NaN,74 min,Movies,"Louis C.K. muses on religion, eternal love, gi..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...

In [36]:
file1['type'][3:13]

3     TV Show
4       Movie
5     TV Show
6       Movie
7       Movie
8     TV Show
9       Movie
10      Movie
11      Movie
12      Movie
Name: type, dtype: object

In [54]:
file1.dtypes

show_id          int64
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [8]:
# to get int dtypes,same for object dtypes
file1.dtypes[file1.dtypes==object]

type           object
title          object
director       object
cast           object
country        object
date_added     object
rating         object
duration       object
listed_in      object
description    object
dtype: object

In [31]:
# to get int dtypes,same for int dtypes , code outside [] is used to fetch the data.
int1=file1[file1.dtypes[file1.dtypes=='int64'].index]

In [33]:
int1.describe()

            show_id  release_year
count  6.234000e+03    6234.00000
mean   7.670368e+07    2013.35932
std    1.094296e+07       8.81162
min    2.477470e+05    1925.00000
25%    8.003580e+07    2013.00000
50%    8.016337e+07    2016.00000
75%    8.024489e+07    2018.00000
max    8.123573e+07    2020.00000

In [34]:
'''in case if we want to get the index based data. '''
obj=file1[file1.dtypes[file1.dtypes=='object'].index]

In [35]:
obj.describe()

,type,title,director,cast,country,date_added,rating,duration,listed_in,description
count,6234,6234,4265,5664,5758,6223,6224,6234,6234,6234
unique,2,6172,3301,5469,554,1524,14,201,461,6226
top,Movie,The Silence,"Raúl Campos, Jan Suter",David Attenborough,United States,"January 1, 2020",TV-MA,1 Season,Documentaries,A surly septuagenarian gets another chance at ...
freq,4265,3,18,18,2032,122,2027,1321,299,3

In [84]:
netflix_null =nm.where(file1['rating'].isnull()==True)

In [85]:
netflix_null

(array([ 211, 2411, 3288, 4056, 4402, 4403, 4706, 5015, 5234, 6231],
       dtype=int64),)

In [91]:
# 1. To get max value of any column
max(file1['release_year'])

2020

In [92]:
''' 2. we use numpy To get the index values of relevant rows ,here we want to get the latest movies 
 'release_year' i.e 2020 so we have written the query below '''
nm.where(file1['release_year']==max(file1['release_year']))

(array([1315, 3180, 3189, 3195, 3220, 3221, 3249, 3325, 3352, 3353, 3354,
        3363, 3379, 3426, 3427, 3436, 3464, 3466, 3467, 3472, 3518, 3541,
        3546, 3562, 3573], dtype=int64),)

In [90]:
# 3. we use iloc function to get the index location based values of relevant rows 
file1.iloc[nm.where(file1['release_year']==max(file1['release_year']))]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1315,81034946,TV Show,Maradona in Mexico,NaN,Diego Armando Maradona,"Argentina, United States, Mexico","November 13, 2019",2020,TV-MA,1 Season,"Docuseries, Spanish-Language TV Shows","In this docuseries, soccer great Diego Maradon..."
3180,81214114,Movie,Bulletproof 2,Don Michael Paul,"Faizon Love, Kirk Fox, Tony Todd, Pearl Thusi,...",United States,"January 9, 2020",2020,TV-MA,97 min,"Action & Adventure, Comedies",A special agent abruptly reunites with a crimi...
3189,81039393,TV Show,Cheer,NaN,NaN,United States,"January 8, 2020",2020,TV-MA,1 Season,"Docuseries, Reality TV, Teen TV Shows",This gripping docuseries follows the ups and d...
3195,80233408,Movie,"Live Twice, Love Once",Maria Ripoll,"Oscar Martínez, Inma Cuesta, Mafalda Carbonell...",Spain,"January 7, 2020",2020,TV-MA,102 min,"Comedies, Dramas, International Movies",When Emilio (Oscar Martínez) is diagnosed with...
3220,80997687,TV Show,Dracula,NaN,"Claes Bang, Dolly Wells, John Heffernan",United Kingdom,"January 4, 2020",2020,TV-14,1 Season,"British TV Shows, International TV Shows, TV D...",The Count Dracula legend transforms with new t...
3221,80237347,TV Show,Go! Go! Cory Carson,NaN,"Alan C. Lim, Paul Killam, Maisie Benson, Kerry...",United States,"January 4, 2020",2020,TV-Y,1 Season,Kids' TV,"Beep, beep – go, go! Buckle up for fun and adv..."
3249,81006825,Movie,All the Freckles in the World,Yibrán Asuad,"Hánssel Casillas, Loreto Peralta, Andrea Sutto...",Mexico,"January 3, 2020",2020,TV-14,90 min,"Comedies, International Movies, Romantic Movies",Thirteen-year-old José Miguel is immune to 199...
3325,81160763,TV Show,"Sex, Explained",NaN,Janelle Monáe,United States,"January 2, 2020",2020,TV-MA,1 Season,"Docuseries, Science & Nature TV",From the biology of attraction to the history ...
3352,81127902,Movie,A Fall from Grace,Tyler Perry,"Crystal Fox, Phylicia Rashad, Cicely Tyson, Br...",NaN,"January 17, 2020",2020,TV-MA,121 min,"Dramas, Thrillers","When gentle, law-abiding Grace confesses to ki..."
3353,80995039,TV Show,Ares,NaN,"Jade Olieberg, Tobias Kersloot, Lisa Smit, Fri...",NaN,"January 17, 2020",2020,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Horror","Aiming to become part of Amsterdam's elite, an..."
3354,81062580,TV Show,Nailed It! Germany,NaN,"Angelina Kirsch, Bernd Siefert",NaN,"January 17, 2020",2020,TV-14,1 Season,"International TV Shows, Reality TV",Home cooks try – and inevitably fail – to re-c...
3363,80996973,TV Show,Handsome Siblings,NaN,"Hu Yitian, Chen Zheyuan, Liang Jie, Vicky Lian...",China,"January 16, 2020",2020,TV-14,1 Season,"International TV Shows, TV Dramas, TV Sci-Fi &...",Clashing martial arts twins face relentless vi...
3379,81062828,TV Show,Killer Inside: The Mind of Aaron Hernandez,NaN,Aaron Hernandez,United States,"January 15, 2020",2020,TV-MA,1 Season,"Crime TV Shows, Docuseries","Via interviews with friends, players and insid..."
3426,80221553,TV Show,Kipo and the Age of Wonderbeasts,NaN,"Karen Fukuhara, Sydney Mikayla, Deon Cole, Coy...",United States,"January 14, 2020",2020,TV-Y7-FV,1 Season,"Kids' TV, TV Comedies",Making her way through a world of mutant anima...
3427,81060049,Movie,Leslie Jones: Time Machine,"David Benioff, D.B. Weiss",Leslie Jones,United States,"January 14, 2020",2020,TV-MA,66 min,Stand-Up Comedy,From trying to seduce Prince to battling sleep...
3436,80239306,TV Show,The Healing Powers of Dude,NaN,"Jace Chapman, Larisa Oleynik, Tom Everett Scot...",NaN,"January 13, 2020",2020,TV-G,1 Season,"Kids' TV, TV Comedies, TV Dramas",When an 11-year-old boy with social anxiety di...
3464,80237329,TV Show,AJ and the Queen,NaN,"RuPaul Charles, Izzy G., Michael-Leon Wooley, ...",United States,"January 10, 2020",2020,TV-14,1 Season,"TV Comedies, TV Dramas",While traveling across the country in a run-do...
3466,81183491,TV Show,Jamtara - Sabka Number Ayega,Soumendra Padhi,"Amit Sial, Dibyendu Bhattacharya, Aksha Pardha...",India,"January 10, 2020",2020,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas",A group of small-town young men run a lucrativ...
3467,81011449,TV Show,Medical Police,NaN,"Erinn Hayes, Rob Huebel, Malin Akerman, Rob Co...",United States,"January 10, 2020",2020,TV-MA,1 Season,"Crime TV Shows, TV Action & Adventure, TV Come...",Doctors Owen Maestro and Lola Spratt leave Chi...
3472,81074060,TV Show,Until Dawn,NaN,"Ahmed Sylla, Alban Ivanov, Ornella Fleury, Nat...",France,"January 10, 2020",2020,TV-MA,1 Season,"International TV Shows, Reality TV, TV Comedies",France’s funniest comics carry out ghastly tas...
3518,81088083,Movie,Ghost Stories,"Anurag Kashyap, Dibakar Banerjee, Karan Johar,...","Janhvi Kapoor, Sobhita Dhulipala, Sukant Goel,...",India,"January 1, 2020",2020,TV-MA,145 min,"Horror Movies, International Movies, Thrillers","The directors of Emmy-nominated ""Lust Stories""..."
3541,80117557,TV Show,Messiah,NaN,"Michelle Monaghan, Mehdi Dehbi, John Ortiz, To...",United States,"January 1, 2020",2020,TV-MA,1 Season,"TV Dramas, TV Thrillers",A wary CIA officer investigates a charismatic ...
3546,80197991,TV Show,"Nisman: The Prosecutor, the President, and the...",Justin Webster,NaN,NaN,"January 1, 2020",2020,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...",This docuseries details the suspicious death o...
3562,80201590,TV Show,Spinning Out,NaN,"Kaya Scodelario, January Jones, Will Kemp, Wil...",NaN,"January 1, 2020",2020,TV-MA,1 Season,TV Dramas,A figure skating Olympic hopeful struggles to ...
3573,81044551,TV Show,The Circle,NaN,Michelle Buteau,NaN,"January 1, 2020",2020,TV-MA,1 Season,Reality TV,Status and strategy collide in this social exp...

In [5]:
nm.where(file1['release_year'].isnull() == True)

(array([], dtype=int64),)

In [6]:
for i in range(len(file1)):
    print(file1)

KeyError: 0

In [58]:
#titan=pn.read_csv('https://github.com/datasciencedojo/datasets/blob/master/titanic.csv')
#not working

In [8]:
d={1:'quen',2:'bge ',3:'run ',4:'aqw '}

In [18]:
pn.Series(d)

1    quen
2    bge
3    run
4    aqw
dtype: object

In [21]:
arr=nm.random.randn(4)
arr

array([ 0.89126738,  1.07914598, -0.75501113,  1.30584429])

In [23]:
pn.Series(arr) # series always takes 1-d data as argument

0    0.891267
1    1.079146
2   -0.755011
3    1.305844
dtype: float64

In [13]:
# 1. Here we have data access using index bcoz loc() funtion uses named index to fetch data from index.
# 2. we  can convert from numpy array to pandas dataframe & series vice-versa
indx=pn.Series(nm.array([2,3,7,1,9]),index=['io',6,'sattar',0,3])
indx

io        2
6         3
sattar    7
0         1
3         9
dtype: int32

In [14]:
matr=pn.DataFrame(nm.random.randint(0,9,(5,6)),index=['p','i','v','o','t'],columns=['a','b','c','d','e','f'])

In [15]:
matr

   a  b  c  d  e  f
p  8  6  6  0  5  6
i  0  2  0  3  0  6
v  2  2  5  7  4  7
o  7  3  5  5  6  4
t  6  8  5  0  4  1

In [16]:
matr.loc[['v','o'],['d','e']]

   d  e
v  7  4
o  5  6

In [17]:
#while writing the elements of matrices we write row values first followed by column values
# Note when we iloc function we use 1 [],when we use loc function we use 2 [[]] bracket
matr.iloc[2:4,3:5]

   d  e
v  7  4
o  5  6

In [18]:
matr.iloc[1:3,4:]

   e  f
i  0  6
v  4  7

In [19]:
#matrix addn,multiplication,substraction,division can done in same way
#  We can add this way matr['sum']=matr.a+matr.b+matr.c / the other as below-

matr['sum']=matr.a+matr.b+matr.c
matr['Addn']=matr['a']+matr['b']+matr['c']
matr['Minus']=matr['a']-matr['b']-matr['c']
matr['Prod']=matr['a']*matr['b']*matr['c']
matr['Divsn']=matr['a']/matr['b']/matr['c']

In [20]:
matr

   a  b  c  d  e  f  sum  Addn  Minus  Prod     Divsn
p  8  6  6  0  5  6   20    20     -4   288  0.222222
i  0  2  0  3  0  6    2     2     -2     0       NaN
v  2  2  5  7  4  7    9     9     -5    20  0.200000
o  7  3  5  5  6  4   15    15     -1   105  0.466667
t  6  8  5  0  4  1   19    19     -7   240  0.150000

In [21]:
matr['sum']=matr.a+matr.b+matr.c
matr['sum']

p    20
i     2
v     9
o    15
t    19
Name: sum, dtype: int32

In [22]:
# For droping a row we use( row_name,axis=0 )/( column we use axis=1 )
matr.drop('f',axis=1)

   a  b  c  d  e  sum  Addn  Minus  Prod     Divsn
p  8  6  6  0  5   20    20     -4   288  0.222222
i  0  2  0  3  0    2     2     -2     0       NaN
v  2  2  5  7  4    9     9     -5    20  0.200000
o  7  3  5  5  6   15    15     -1   105  0.466667
t  6  8  5  0  4   19    19     -7   240  0.150000

In [23]:
# Part 2 
nm.random.seed(23)
matr1=pn.DataFrame(nm.random.randn(4,5),index=['p','i','v','o'],columns=['a','b','c','d','e'])

In [24]:
matr1

          a         b         c         d         e
p  0.666988  0.025813 -0.777619  0.948634  0.701672
i -1.051082 -0.367548 -1.137460 -1.322148  1.772258
v -0.347459  0.670140  0.322272  0.060343 -1.043450
o -1.009942  0.441736  1.128877 -1.838068 -0.938769

In [25]:
#list of values only <0  1 , Direct Way
matr1.values[matr1.values<0]

array([-0.77761941, -1.05108156, -0.36754812, -1.13745969, -1.32214752,
       -0.34745899, -1.04345   , -1.00994188, -1.83806777, -0.93876863])

In [26]:
# 2nd way using inter location function
matr1.values[matr1.iloc[0:4]<0]

array([-0.77761941, -1.05108156, -0.36754812, -1.13745969, -1.32214752,
       -0.34745899, -1.04345   , -1.00994188, -1.83806777, -0.93876863])

In [27]:
# 3rd way using location function
matr1.values[matr1.loc[['p','i','v','o'],['a','b','c','d','e']]<0]

array([-0.77761941, -1.05108156, -0.36754812, -1.13745969, -1.32214752,
       -0.34745899, -1.04345   , -1.00994188, -1.83806777, -0.93876863])

In [28]:
#  1. access the value within a dataframe . Eg row c , cloumn t , then o/p = ct ,its intersect value
q=matr1.values[matr1.values<0]
for i in matr1.columns:
    for j in matr1.index:
        if matr1[i][j] in q:
            print(i,j,matr1[i][j])

a i -1.0510815639071178
a v -0.34745899102186334
a o -1.0099418765878465
b i -0.3675481161171661
c p -0.7776194131918178
c i -1.1374596907250272
d i -1.3221475225908594
d o -1.8380677677579502
e v -1.0434500017467254
e o -0.9387686311201282

In [29]:
# 2nd way to achieve the value within a DF.Eg row c , cloumn t,then o/p = ct ,its intersect value
for i in matr1.columns:
    for j in matr1.index: 
        if matr1.loc[j,i]<0: # here we wrote j before i bcoz j is row,i is column.operation starts with row*column
            print(i,j,matr1.loc[j,i])

a i -1.0510815639071178
a v -0.34745899102186334
a o -1.0099418765878465
b i -0.3675481161171661
c p -0.7776194131918178
c i -1.1374596907250272
d i -1.3221475225908594
d o -1.8380677677579502
e v -1.0434500017467254
e o -0.9387686311201282

In [12]:
# 3rd way to access the value within a DF.Eg row c , cloumn t,then o/p = ct ,its intersect value
# for i in matr1.columns:
#     for j in matr1.index:
#         for k in matr1.values[matr1.values<0]:
#             print(k,(i,j))

In [87]:
dic={'row1':[nm.nan,4,nm.nan,5,1,13],'row2':[3,8,'klm',1,5,'nimbu'],'row3':['bitan',nm.nan,nm.nan,'uio',17,'weq']}
dk=pn.DataFrame(dic)

In [88]:
dk

   row1   row2   row3
0   NaN      3  bitan
1   4.0      8    NaN
2   NaN    klm    NaN
3   5.0      1    uio
4   1.0      5     17
5  13.0  nimbu    weq

In [89]:
dk.dropna(thresh=2,axis=1)

   row1   row2   row3
0   NaN      3  bitan
1   4.0      8    NaN
2   NaN    klm    NaN
3   5.0      1    uio
4   1.0      5     17
5  13.0  nimbu    weq

 when thresh=2,that means minimum 2 not null values should be present in each row,Above 2nd index don't have 2 not null values so its dropped

In [90]:
d1=dk.fillna(dk['row1'].mean())
d1

    row1   row2   row3
0   5.75      3  bitan
1   4.00      8   5.75
2   5.75    klm   5.75
3   5.00      1    uio
4   1.00      5     17
5  13.00  nimbu    weq

In [3]:
dic2={'name':['dheer','shali','ajay','pihu'],'mail':['dh@mail.com','sly@mail.com','aj@mail.com','pi@mail.com'],
      'salary':[5300,6700,3900,8100],'location':['hyderabad','ranchi','delhi','ooty']}
dk2=pn.DataFrame(dic2)
dk2

    name          mail  salary   location
0  dheer   dh@mail.com    5300  hyderabad
1  shali  sly@mail.com    6700     ranchi
2   ajay   aj@mail.com    3900      delhi
3   pihu   pi@mail.com    8100       ooty

In [10]:
dk2.groupby('name').describe()

      salary
       count    mean std     min     25%     50%     75%     max
name
ajay     1.0  3900.0 NaN  3900.0  3900.0  3900.0  3900.0  3900.0
dheer    1.0  5300.0 NaN  5300.0  5300.0  5300.0  5300.0  5300.0
pihu     1.0  8100.0 NaN  8100.0  8100.0  8100.0  8100.0  8100.0
shali    1.0  6700.0 NaN  6700.0  6700.0  6700.0  6700.0  6700.0

In [12]:
dk2.groupby('name').describe().iloc[2]

8100.0

- If we want to get 1 data of a column,we can get by loc/iloc Function Followed by requirement.
And if we want to get a particular value of any row we can get by same way as list.
Eg-dk2.groupby('name').describe()iloc[2][1]

In [13]:
# fetching all details of a particular column
dk2.groupby('name').describe().loc['pihu']

salary  count       1.0
        mean     8100.0
        std         NaN
        min      8100.0
        25%      8100.0
        50%      8100.0
        75%      8100.0
        max      8100.0
Name: pihu, dtype: float64

- Fetching a Particular detail of a column.Eg min value from 3rd index,we can access with/without loc function.

In [25]:
# 1.
dk2.groupby('name').describe().loc['pihu']['salary']['75%']

8100.0

In [26]:
# 2.
dk2.groupby('name').describe().loc['pihu'].loc['salary'].loc['75%']

8100.0

In [97]:
a=pn.DataFrame(nm.random.randn(4,4),columns=['a','b','c','d'],index=['i','ii','iii','iv'])
a

            a         b         c         d
i    0.223279 -0.768432 -0.189543 -1.108820
ii  -2.244031  1.359546  0.606816 -1.088909
iii  0.224683  0.967684  1.272530 -1.028223
iv  -0.355381  0.552366 -0.527342 -1.745109

 - We use transpose{ .T } to traverse the DataFrame

In [104]:
a.T

          i        ii       iii        iv
a  0.223279 -2.244031  0.224683 -0.355381
b -0.768432  1.359546  0.967684  0.552366
c -0.189543  0.606816  1.272530 -0.527342
d -1.108820 -1.088909 -1.028223 -1.745109

In [98]:
b=pn.DataFrame(nm.random.randn(4,4),columns=['a','b','c','d'],index=['v','vi','vii','viii'])
b

             a         b         c         d
v    -0.056930  1.075771 -0.581549 -0.627142
vi    0.238204 -1.743489 -0.296671 -0.105533
vii  -0.287443  0.188357  1.119039  2.073453
viii -1.477793 -0.971806  0.367623  0.083589

In [99]:
c=pn.DataFrame(nm.random.randn(4,4),columns=['a','b','c','d'],index=['ix','x','xi','xii'])
c

            a         b         c         d
ix   0.590400 -0.013186 -1.841277 -0.274548
x   -1.235610  0.792038  1.541946 -0.380134
xi  -0.007444 -0.414385  0.161590 -1.610674
xii -0.356111 -0.681732  0.918268 -0.140466

- While creating a Dataframe when index values are not same , those are filled by nan , since they are empty. Or we can use .fillna
 if we want to fill those nan values.

In [103]:
df=pn.concat([a,b,c],axis=1).fillna(1)
df

,a,b,c,d,a,b,c,d,a,b,c,d
i,0.223279,-0.768432,-0.189543,-1.108820,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
ii,-2.244031,1.359546,0.606816,-1.088909,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
iii,0.224683,0.967684,1.272530,-1.028223,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
iv,-0.355381,0.552366,-0.527342,-1.745109,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
v,1.000000,1.000000,1.000000,1.000000,-0.056930,1.075771,-0.581549,-0.627142,1.000000,1.000000,1.000000,1.000000
vi,1.000000,1.000000,1.000000,1.000000,0.238204,-1.743489,-0.296671,-0.105533,1.000000,1.000000,1.000000,1.000000
vii,1.000000,1.000000,1.000000,1.000000,-0.287443,0.188357,1.119039,2.073453,1.000000,1.000000,1.000000,1.000000
viii,1.000000,1.000000,1.000000,1.000000,-1.477793,-0.971806,0.367623,0.083589,1.000000,1.000000,1.000000,1.000000
ix,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.590400,-0.013186,-1.841277,-0.274548
x,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,-1.235610,0.792038,1.541946,-0.380134
xi,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,-0.007444,-0.414385,0.161590,-1.610674
xii,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,-0.356111,-0.681732,0.918268,-0.140466

In [95]:
df.iloc[1:3,3]

ii     1.316449
iii    0.449640
Name: d, dtype: float64

In [121]:
df0={'dek1':['d1','d2','d3','d4',],'dek2':[1,0,3,6],'dek3':['qw','op','rg','bh']}
df1=pn.DataFrame(df0)
df1

  dek1  dek2 dek3
0   d1     1   qw
1   d2     0   op
2   d3     3   rg
3   d4     6   bh

In [123]:
df01={'dek1':['d1','d2','d0','d4',],'dek2':[1,0,3,6],'dek3':['qw','op','rg','bh']}
df2=pn.DataFrame(df01)
df2

  dek1  dek2 dek3
0   d1     1   qw
1   d2     0   op
2   d0     3   rg
3   d4     6   bh

NOTE : 
1. In Pandas we use 'merge()' Function to join DataFrames ,
Eg : merged_df = pd.merge(df1, df2, on='key', how='inner/outer/left/right')
2. 'on' - specifies the column(s) to use as the key for the join.
3. 'how'- it specifies the type of join to be performed:
3.1. 'inner': returns only the rows that have matching keys in both DataFrames (default).
3.2. 'outer': returns all rows from both DataFrames.
3.3. 'left': returns all rows from the left DataFrame and only the matching rows from the right DataFrame.
3.4. 'right': returns all rows from the right DataFrame and only the matching rows from the left DataFrame.

In [119]:
pn.merge(df1,df2,on='dek1',how='outer')

  dek1  dek2_x dek3_x  dek4  dek2_y dek3_y
0   d1     1.0     qw  11.0     1.0     qw
1   d2     0.0     op  77.0     0.0     op
2   d3     3.0     rg  22.0     NaN    NaN
3   d4     6.0     bh  55.0     6.0     bh
4   d0     NaN    NaN   NaN     3.0     rg

In [128]:
pn.merge(df1,df2,on=['dek1','dek2'])

  dek1  dek2 dek3_x dek3_y
0   d1     1     qw     qw
1   d2     0     op     op
2   d4     6     bh     bh

In [129]:
df3 = pn.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

df4 = pn.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

output is same in both merge and join, difference is way of accessing the data.

1. we use column to access the data in 'merge' Function.
2. And we use index in case of joining.

In [135]:
df3.join(df4,how='left')

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2